<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="" sec:authorize="isAuthenticated()">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Library</h1>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form action="/countries/save-country" method="POST">
                    <input id="id" type="hidden" name="id">
                    <div class="form-group">
                        <label for="name">Country Name</label>
                        <input type="text"
                               class="form-control"
                               id="name"
                               name="name"
                               required
                               placeholder="Enter country name">
<!--                               th:value="(${country} != null ? ${country.getName()} : '')"-->

                    </div>
                    <div class="form-group">
                        <label for="continent">Continent</label>
                        <input type="text"
                               class="form-control"
                               id="continent"
                               name="continent"
                               required
                               placeholder="Enter continent">
<!--                               th:value="(${country} != null ? ${country.getContinent()} : '')"-->

                    </div>
                    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                    <a type="button" class="btn btn-primary" href="/countries">Back</a>
                </form>
            </div>
        </div>
    </div>
</th:block>
